

#logo-container{
    height: 34vh;
}
 #logo-container img{
     width: 60%
 }

#bespoke-intro{
    background-color: rgb(255, 255, 255, 0.8);
    color: #0d0131;
    font-size: 3vh;
    min-height: 50vh;
    margin: 0 3vw;
    padding: 2vh;
    font-family: Arial, Helvetica, sans-serif;
}

#bespoke-intro p{
    margin:0;
}

/*Cuisines*/
.cuisine-container{
    
        background-color: rgba(13, 1, 49, 1);
        color: #ffffff;
        font-size: 2.2vh;
        margin: 5vh 0 0 0;
        padding: 2vh;
        font-family: Arial, Helvetica, sans-serif;
    
}

.cuisine-container h1 {
    margin: 3vh;
}