
#about {
    display: none;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    overflow-x: hidden;
    
}

body {
    padding: 0;
    margin: 0;
  
}


main {
    position: relative;
    
}
    
h1 {
    margin-top: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 3px 3px 0 #7c7c7c;
}

a {
    text-decoration: none;
    color: inherit;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right{
    display: flex;
    justify-content: flex-end;
}


/*Top Logo*/

#logo-container {
    position: relative;
    display: flex;
    height: 86vh;
    width: 70%;
    margin: auto;
    padding: 0;
    

}

#logo-container img {
    width: 100%;
    margin: auto;
    border: 0px;
    border-radius: 100%;
    overflow: hidden;
    align-self: center;
    box-shadow: 0 0 35px #7c7c7c;
   

}

/*Opening Hours*/

#opening-hours{
    
    color: darkgoldenrod;
    background-color: rgba(13, 1, 49, 1);
    margin: 0;
    width: 100%;
    font-size: 1.7vh;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#opening-hours p{
    margin:1vh auto;
}


/*Navbar*/

nav{
    background-color: rgba(13, 1, 49, 1);
    color: darkgoldenrod;
    display: block;
    min-height: 13vh;
    height: auto;
    position: sticky;
    padding: 0.5vh 7vw;
    top: 0;
    font-size: 2rem;
    z-index: 10;
    width: 86vw;
}

#nav-upper{
    font-family: 'Courier New', Courier, monospace;
}

#nav-upper p {
    display:none;
}


nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
    border-radius: 1.5vh;
    padding: 0 2vw;
    

}

nav li:hover {
    transition: background-color 250ms ease-in, color 250ms ease-in;
    background-color: darkgoldenrod;
    color:rgba(13, 1, 49, 1);
}

#nav-contact {
    display: flex;
    justify-content: space-between;
    margin: 39.6px 0;
    padding: 0 2vw;
    
}

#nav-contact p {
    display: inline-block;
    margin: -7px;
    font-size: 3.3rem;
    
}

#nav-contact div a img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin-left: 2vh;
    border-radius: 100%;
}

/*about*/

#about {
    background-color: rgba(13, 1, 49, 1);
}

/*gallery*/

#gallery-container {
    background-color: darkgoldenrod;
    box-shadow: 0 3vh 3vh darkgoldenrod;
    width: 96vw;
    padding: 4rem 2vw;
    margin: 0 auto;
}

.image-tile{
    margin: 1rem auto;
    overflow: hidden;
  
}

.image-tile img{
    height: 100%;
    width: 100%;
    margin: auto;
}


/*Reviews*/

#review-container{
    width: 80vw;
    margin: 0 auto;
    background-color: rgba(13, 1, 49, 0.3);
    padding: 4rem 10vw;
}

.review-tile {
    background-color: rgba(255, 255, 255, 0.8);
    color: #0d0131;
    text-shadow: 1px 1px 0 rgb(223, 223, 223);
    box-shadow: 0 0 6px #7c7c7c;
    border-radius: 10px;
    font-size: 2rem;
    width: 80%;
    margin: 2vh 0;
}

.review-para{
    padding: 1vh 3vh;
}

.review-name {
    padding-bottom: 1vh;
}

/*footer*/

.footer{
    background-color: rgba(13, 1, 49, 1);
    padding: 1rem 8vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 84vw;

}

#address-container{
    text-align: left;
}

.footer p {
    margin:0;
    padding: 0.3rem;
    
}


.social-link-container{
    display: flex;
    justify-content: space-between;
    
   
}

.footer img{
    display: inline-block;
    width: 15vw;
    height: 15vw;
}


/*background styling*/
#body-image {
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    
    
}



.body-filter{
    background-color: rgba(2, 0, 24, 0.30);
    height:100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: -9; 
}

/*Media Queries*/

/*Landscape*/
@media (orientation: landscape){
    /*logo*/
    
    #logo-container {
        width: 60vh;
        height: 74vh;
    }

     /*Opening Hours*/
     #opening-hours {
        bottom: 26vh;
        font-size: 2.3vh;
    }


    /*nav*/
    nav{
        min-height: 26vh;
    }

    nav ul {
        margin: 1vh auto;
        font-size: 8vh;
    }

    #nav-contact {
        margin: 1vh 0;
    }

    #nav-contact p {
        font-size: 14vh;
    }

    #nav-contact div a img {
        height: 13vh;
        width: 13vh;
    }

    /*gallery*/

    #gallery-container{
        padding: 3vh 2vw;
    }

    .gallery-pair {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .image-tile{
        margin: 1rem;
        width: 39vw;
        height: auto;
        max-width: 68vh;
        border: 1px solid goldenrod;
        box-shadow: 0 0 2px rgb(0 0 0);
    }

    /*reviews*/

    #review-container{
        width: 80vw;
        padding: 2rem 10vw;
    }
    
    .review-tile {
        border-radius: 10px;
        font-size: 1rem;
        width: 80%;
        margin: 2vh 0;
    }
    
    .review-para{
        padding: 1vh 3vh;
    }
    
    .review-name {
        padding-bottom: 1vh
    }
    
}




/*approaching square from portrait*/
@media screen and (min-aspect-ratio: 47/80) and (max-aspect-ratio: 1/1){
    
    /*logo*/
    
    #logo-container {
        width: 50vh;
        height: 85vh;
    }

    /*Opening Hours*/
    #opening-hours {
        bottom: 15vh;
        font-size: 1.9vh;
    }


    /*navbar*/
    nav {
        min-height: 14vh;
    }

    nav ul {
        margin: 1vh auto;
    }


    nav li {
        font-size: 1.7rem;

    }

    #nav-contact{
        margin: 3vh 0 1vh 0;
    }

    #nav-contact p {
        font-size: 3rem;
    }
    
    #nav-contact div a img {
        height: 2.7rem;
        width: 2.7rem;
    }
    
}

@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 13/8){
    
    #logo-container {
        width: 70vh;
        height: 85vh;
    }

    /*Opening Hours*/
    #opening-hours {
        bottom: 15vh;
        font-size: 2.9vh;
    }

    #nav-email {
        display: none;
    }

     /*navbar*/
     nav {
        min-height: 15vh;
    }

    nav ul {
        font-size: 4vh;
    }

    #nav-contact p {
        font-size: 7vh;
    }

    #nav-contact div a img {
        height: 7vh;
        width: 7vh;
    }

    #map iframe{
        height:104%;
    }
}

/*Desktop*/
@media only screen and (min-width: 992px) {

    /*Navbar*/

    nav{
        min-height: 0;
        height: auto;
        position: fixed;
        top: 0;
        height: 18vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 3px solid darkgoldenrod;
    
    }

    #nav-upper {
        display: flex;
        justify-content: space-between;
        font-size: 4vh;
    }

    #nav-upper p {
        display: block;
        margin: 1vh auto;
        padding:  0 2vw;
    }

    nav ul {
        font-size: 4vh;
        justify-content: flex-end;
    }

    

    #nav-contact {
        margin: 2vh 0 1vh 0;
        align-items: flex-start;
        
    }

    #nav-contact p {
        margin: 0px;
        font-size: 6.8vh;
    }

    #nav-contact div a {
        font-size: 1rem;
    }


    #nav-contact div a img {
        height: 7.6vh;
        width: 7.6vh;
      
    }

    /*opening-hours*/

    #opening-hours{
        font-size: 3.5vh;
        
        
    }


    /*Top Logo*/

    #logo-container {
        top: 18vh;
        margin: auto;
        padding: 0;
        height: 82vh;
        

    }

    #logo-container img {
       
        box-shadow: 0 0 100px #000000;
        border: none;
    }

    main {
        top: 18vh;
    }

    /*gallery*/

    #gallery-container {
        box-shadow: 0 3vh 10vh darkgoldenrod;
        padding: 2vh 1vw;
        margin: 0 auto;
        width: 98vw;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .gallery-pair {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 1vh;
    }


    .image-tile{
        margin: 0 0.5vh;
        overflow: hidden;
        width: 23vw;
        
    }




    /*reviews*/
    #review-container {
        display: flex;
    }

    .left {
        justify-content: center;
    }
    
    .right {
        justify-content: center;
    }

    .review-tile {
        width: auto;
        font-size: 2.5vh;
        margin: 2vh 2vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .review-para{
        padding: 1vh 3vh;
        margin-bottom: 0;
    }
    
    .review-name {
        
        padding-bottom: 1vh;
    }




    /*footer*/

    .footer{
        padding: 2vh 8vw;
    }

    .footer p {
        padding: 0.3vh;
        font-size: 2.2vh; 
    }

    .footer img{
        width: 11vh;
        height: 11vh;
    }


    /*background styling*/
    #body-image {
        top: 18vh;
    }

    #body-filter{
        top: 18vh;
    }

    


    /*Small fixes for very large tablets*/
    @media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 13/8){
        #nav-upper {
            font-size: 3vh;
        }
    
        nav ul {
            font-size: 3vh;
        }
    }

    @media screen and (min-aspect-ratio: 47/80) and (max-aspect-ratio: 1/1){
        #body-image{
            top: 16vh;
        }
        
        #body-filter{
            top: 16vh;
        }
        
        nav {
            height: 16vh;
        }

        #nav-upper p{
            display: none;
        }

        nav ul {
            justify-content: space-between;
        }

        #nav-contact p {
            font-size: 5.8vh;
        }
        
        #nav-contact div a img {
            height: 6.6vh;
            width: 6.6vh;
        }

        #opening-hours{
            font-size: 2vh;
            padding-bottom: 3vh;
        }

        #gallery-container{
            box-shadow: 0 3vh 3vh darkgoldenrod;
        }

        .review-tile {
            font-size: 1.9vw;
        }
    }

}
