/* BREAK POINT 1 about 450 pixels wide Navbar
Need media query to make navbar smaller for iphoneX?
*/


html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    text-align: center;
    
}

body {
    padding: 0;
    margin: 0;
    
    
    
    
    
}

main {
    position: relative;
}

/*Top Logo*/

#logo-container {
    position: relative;
    display: flex;
    height: 86vh;
    width: 70%;
    margin: auto;
    padding: 0;
    

}

#logo-container img {
    width: 100%;
    margin: auto;
    border: 0px;
    border-radius: 100%;
    overflow: hidden;
    align-self: center;
    box-shadow: 0 0 100px #97a4ff;
    border: 7px solid #97a4ff;
   

}

/*Navbar*/

nav{
    background-color: black;
    color: goldenrod;
    display: block;
    min-height: 13vh;
    height: auto;
    width: 100vw - 4rem;
    position: sticky;
    padding: 0.2rem 4rem;
    top: 0;
    font-size: 2rem;
    z-index: 10;
}

nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav li {
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;

}

#nav-contact {
    display: flex;
    justify-content: space-between;
    
    
}

#nav-contact p {
    display: inline-block;
    margin: -7px;
    font-size: 3.3rem;
}

#nav-contact {
    margin: 39.6px 0;
}

#nav-contact div a img {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    margin-left: 2vh;
}

/*gallery*/

#gallery-header{
    margin-top: 10vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#gallery-container{

    width: 80vw;
    margin: 4vh auto;
}

.image-tile{
    
    width: auto;
    height: auto;
    overflow: hidden;
    border: 4px solid rgb(171, 171, 171);
    box-shadow: 0 0 5vh #97a4ff;
    border-radius: 100%;
    margin: 7vh auto;
}

.image-tile img{
    
    width:100%;
    margin: auto;
   
}

.image-tile span{
    display: block;
    position: relative;
    bottom: 7vh;
    width: 100%;
    background-image: linear-gradient(to right, rgba(155, 155, 155, 0.1), rgb(155, 155, 155, 0.8),rgba(155, 155, 155, 0.1));
    font-size: 2rem;
    color:#000061;
}


/*background styling*/
#body-image {
    background-image: url('../images/background.jpg');
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
    
    
}

#body-filter{
    background-color: rgba(2, 0, 24, 0.850);
    height:100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: -9;
    
    
}



